<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="text-center">
    <div class="container">
        <div class="campos_login">
            <img src="/imagens/login.jpg">
            <h1>Web Suporte!</h1>
            <form method="post" action="{{ url_for('login') }}">
                <input type="hidden" name="proxima" value="{{ proxima or url_for('menu') }}">
                <p>
                    <label>Login</label>
                    <input class="form-control" type="text" placeholder="Login" name="login" required autofocus>
                </p>
                <p>
                    <label>Paasword</label>
                    <input class="form-control" type="password" placeholder="Password" name="password" required>
                </p>
                <p>
                    <select name="tipoUsuario">
                        <option name="colaborador">Colaborador</option>
                        <option name="suporte">Suporte</option>
                        <option name="admin">Admin</option>
                    </select>
                </p>
            </form>
        </div>
    </div>
</body>
</html>