{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block logout %}
    {% if permissao == 'Administrador' %}
        <li><a href="/chamados_ti">Chamados TI</a></li>
        <li><a href="/chamados_manutencao">Chamandos Manutenção</a></li>
        <li><a href="/administracao">Administração</a></li>
    {% elif permissao == 'SuporteTI' %}
        <li><a href="/chamados_ti">Chamados TI</a></li>
    {% elif permissao == 'SuporteM' %}
        <li><a href="/chamados_manutencao">Chamados Manutenção</a></li>
    {% endif %}
    <li><a href="/logout">Logout</a></li>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <br>
        <a class="btn btn-primary" href="/gerenciar_usuarios" role="button">Gerenciar Usuários</a>
        <br>
        <br>
        <a class="btn btn-primary" href="/gerenciar_setores" role="button">Gerenciar Usuários</a>
        <br>
        <br>
        <a class="btn btn-primary" href="/gerenciar_impressoras" role="button">Gerenciar Impressoras</a>
    </div>
{% endblock %}