{% extends 'base.html' %}

{% block logout %}
    {% if permissao == 'Administrador' %}
        <li><a href="/chamados_ti">Chamados TI</a></li>
        <li><a href="/chamados_manutencao">Chamandos Manutenção</a></li>
        <li><a href="/administracao">Administração</a></li>
    {% elif permissao == 'Suporte TI' %}
        <li><a href="/chamados_ti">Chamados TI</a></li>
    {% elif permissao == 'Suporte Manutenção' %}
        <li><a href="/chamados_manutencao">Chamados Manutenção</a></li>
    {% endif %}
    <li><a href="/logout">Logout</a></li>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1>Alterar Usuário!</h1>
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div>
                <label>Usuário:</label>
                <input type="text" disabled="disable" value="{{ itens['usuario'] }}"></input>
            </div>
            <div>
                <label>Senha:</label>
                <input type="password" value="{{ itens['senha'] }}"></input>
            </div>
            <label>
                <select name="setor">
                    <option>{{ itens['setor'] }}</option>
                    {% for setor in setores %}
                        <option>{{ setor }}</option>
                    {% endfor %}
                </select>
            </label>
            <div>
                <label>Nome:</label>
                <input type="text" value="{{ itens['nome'] }}"></input>
            </div>
            <div>
                <label>Sobrenome:</label>
                <input type="text" value="{{ itens['sobrenome'] }}"></input>
            </div>
            <div>
                <label>E-mail:</label>
                <input type="text" value="{{ itens['email'] }}"></input>
            </div>
            <br>
            <label>
                <select name="status">
                    {% if itens['status'] == 'Ativo' %}
                        <option>Ativo</option>
                        <option>Bloqueado</option>
                    {% else %}
                        <option>Bloqueado</option>
                        <option>Ativo</option>
                    {% endif %}
                </select>
            </label>
            <br>
            <label>
                <select name="permissao">
                    <option>{{ itens['permissao'] }}</option>
                    <option>Colaborador</option>
                    <option>Suporte TI</option>
                    <option>Suporte Manutenção</option>
                    <option>Administrador</option>
                </select>
            </label>
            <br>
            <button type="submit" value="alterar">Alterar</button>
        </form>
    </div>
{% endblock %}