{% extends 'base.html' %}

{% block title %}Manutenção{% endblock %}

{% block logout %}
    {% if permissao == 'Administrador' %}
        <li><a href="/chamados_ti">Chamados TI</a></li>
        <li><a href="/chamados_manutencao">Chamandos Manutenção</a></li>
        <li><a href="/administracao">Administração</a></li>
    {% elif permissao == 'Suporte TI' %}
        <li><a href="/chamados_ti">Chamados TI</a></li>
    {% elif permissao == 'Suporte Manutenção' %}
        <li><a href="/chamados_manutencao">Chamados Manutenção</a></li>
    {% endif %}
    <li><a href="/logout">Logout</a></li>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1>{{ title }}</h1>
        <h6>Preencha os campos com o máximo de detalhes:</h6>
        {% from "macro.html" import render_field %}
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label>
                <select name="setor">
                    {% for setor in setores %}
                        <option>{{ setor }}</option>
                    {% endfor %}
                </select>
            </label>
            <label>
                <select name="urgencia">
                    <option>Baixa</option>
                    <option>Média</option>
                    <option>Alta</option>
                </select>
            </label>
            <div>
                {{ render_field(field.titulo, class='form-control', placeholder='Título', maxlength='30')}}
            </div>
            <div>
                {{ render_field(field.comentario, class='textarea', placeholder='Preencha com o máximo de informações!', maxlength='100')}}
            </div>
            <button type="submit" value="enviar">Enviar</button>
        </form>
    </div>
{% endblock %}