{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1>Login!</h1>
        <h6>Bem vindo! Efetue o login para acesso ao sistema:</h6>
        {% from "macro.html" import render_field %}
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div>
                {{ render_field(field.usuario, class='form-control', placeholder='Usuário')}}
            </div>
            <div>
                {{ render_field(field.senha, class='password', placeholder='Senha')}}
            </div>
            <button type="submit" value="enviar">Login</button>
        </form>
    </div>
{% endblock %}